.masthead {
  height: 26vh;
  min-height: 400px;
  background: #dedede;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.top-padding {
  padding-top: 175px;
}

.gift-finder {
  padding-bottom: 20px;
  padding-top: 20px;
}

.gift-finder-button {
  border-style: solid;
  border-width: 1px;
  padding: 18px;
}

.gift-finder-button:hover {
  background-color: #e9e9e9;
}
