.masthead {
  height: 28vh;
  min-height: 400px;
  background-color: #f1ac85;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  vertical-align: middle;
}

.top-padding {
  padding-top: 175px;
}
